/*Colori base del sito*/
:root{
	--blue: #1A2541;
	--lightblue: #0d94a6;
	--purple: #CD5F82;
}

body{
	  background-color: white;
	  margin: 0px;
	  font-family: 'Farsan', sans-serif;
}


/*NAV-------------------------*/
nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: var(--blue);
	height: 8%;
	z-index: 1;
	width: 100%;
	position: fixed;
	top: 0%;
	left: 0%;
	
	
	font-family: sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #fff;
	text-decoration: none;
}

div#Cell{
	display: none;
}

div.central{
	margin-left: -100px;
	margin-right: -100px;
}

#login{
	background: var(--lightblue);
	padding: 9px 25px;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	
	font-family: sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: white;
	text-decoration: none;
}

a.but-navbar{
	border-radius: 50px;
	padding: 5px 15px;
	margin: 0px 12px;
	color: white;
	cursor: pointer;
	text-decoration: none;
}

a.but-navbar:hover{
	border-bottom: 3px solid var(--purple);
}

.logo{
	width: 190px;
	height: 45px;
	border-radius: 50px;
	margin-left: -50px;
	z-index:1;
}

div.Accesso{
	padding: 5px;
	word-spacing: 15px;
}

#signup{
	cursor: pointer;
	color: var(--lightblue);
}

.dropdown{
  float: left;
  overflow: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--blue);
  min-width: 100px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: var(--purple);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*HEADER-------------------------*/
header{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image:url(Images/sfondom.jpg) ;
	background-size: cover;
	height: 100vh;
	position: relative;
	z-index: -1;
}

header h1{
	color: white;
	font-size: 100px;
	z-index: 1;
}

header p{
	color: white;
	text-align: center;
	font-size: 20px;
	z-index: 1;
}

#overlay{
	background-color: rgba(0, 0, 0, .4);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	z-index: 0;
}


/*MAIN-------------------------*/

main{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

main h1{
	color: var(--blue);
	text-align: center;
	font-size: 50px;
	/*text-decoration: underline;*/
}

/*ARTICLE-------------------------*/
article h1{
	color: var(--orange-color);
	text-align: center;
	font-size: 50px;
	/*text-decoration: underline;*/
}

article p{
	color: black;
	text-align: center;	
	font-size: 30px;
}


/*SECTION-------------------------*/
section#corsi{
	display: flex;
}

section#search{
	display: flex; 
	justify-content: space-around;
	align-items: center;
	height: 300px;
	width: 100%;
}

div.block{
  display: flex;
  Justify-content: center;
  align-items: center;
  background-image: url("Images/imm.jpg");
  background-size: cover;
  margin: 30px;
  width: 300px;
  height: 300px;
  padding: 20px;
  border: 2px solid;
  border-radius: 10%;
  color: white;
  cursor: pointer;
}

div.block:hover{
	border: 5px solid var(--purple);
}

.contenuti{
	background-color: red;
	height: 10%;
	widht: 100%;
	margin-bottom: 0px;
	z-index: 1;
}

div h1.Name-course{
	color: white;
	font-size: 130px;
}

input#btnC, input#btnH{
	color: white;
	font-weight: bold;
	font-size: 50px;
	border-radius: 50px;
	height: 200px;
	width: 200px;
	cursor: pointer;
	background-image: url("Images/Command2.jpg");
	background-size: cover;
}

input#btnC:hover, input#btnH:hover{
	border-radius: 50px;
	border: 5px solid var(--purple);
	background: var(--purple);
}

input.txt{
	border-radius: 50px;
	border: 3px solid var(--lightblue);
}

a.Link_course{
	margin: 0px;
	text-decoration: none;
}



/*RESULT API----------------------------*/
#results {
  display: flex;
  flex-wrap: wrap;
}

#results .ResBox{
  margin: 10px;
  background: var(--lightblue);
  border: 1px solid slategray;
  padding: 5px;
  max-width: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#results h1{
  font-size: 40px;
  color: white;
}


/*FOOTER--------------------------------*/
footer{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 15%;
	background-color: var(--blue);
	position: absolute;
	margin-bottom: 0;
	left: 0;
	right: 0;
}

ul{
	list-style-type: none;
}

li.subtitle{
	color: var(--lightblue);
}

li{
	color: whitesmoke;
}



/*SAVE---------------------------------*/
  .saveForm, .save{
	width: 40px;
    height: 40px;
	background-image: url("Images/like.jpg");
	background-size: cover;
	border-radius: 50px;
  }

  .saveForm:hover{
	border: 3px solid var(--purple);
    opacity: 1;
	cursor: pointer;
  }
  
  .canzoneInfo{
	  display:none;
  }
  
  
  /* Tablet */

@media (max-width: 1280px) {
	div.block{
	  margin: 15px;
	  width: 200px;
	  height: 200px;
	  border: 1px solid;
	}
	
	div h1.Name-course{
		font-size: 90px;
	}
	
	footer{
		font-size: 11px;
	}
	
	header h1{
		font-size: 90px;
	}

	header p{
		font-size: 20px;
	}
	
}


/* Telefono */

@media (max-width: 576px) {
	
	p.tag-page{
		color: var(--lightblue);
	}
	
	div#Cell{
		display: block;
	}
	
	div.central{
		display: none;
	}
	
	div.Accesso{
		display: none;
	}
	
	
	div.block{
	  margin: 15px;
	  width: 200px;
	  height: 200px;
	  border: 1px solid;
	}
	
	div h1.Name-course{
		font-size: 90px;
	}

	
	section#corsi{
		flex-direction: column;
	}
	
	input#btnC, input#btnH{
		font-size: 30px;
		border-radius: 50px;
		height: 150px;
		width: 150px;
	}
	
	footer{
		flex-direction: column;
		font-size: 20px;
		height: 80%;
		align-items: start;
	}
	
	header h1{
		font-size: 70px;
	}

	header p{
		font-size: 15px;
	}
	
	#All-link{
		color: White;
		font-weight: bold;
		font-size: 20px;
	}
}
  